html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
/* * {outline: dashed;} */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
	font-size: 100%;
}


h1 {
	font-size: 2em;
	color: rgba(0,0,0,.3);
}


h2 {
	max-width: 70%;
	margin: 1.25em auto;
	font-size: 1.5em;
	color: rgba(0,0,0,.6);
}


.header {
	position: relative;
	max-width: 100%;
	font-family: 'icomoon';
}

.info {
	float: right;
	clear: both;
	margin-right: 5em;
	text-decoration: underline;
}

.info:hover {
	color: #7bc8ff;
	cursor: pointer;
}


.info-div p {
	max-width: 70%;
	margin: 1.25em auto;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.45em;
	color: rgba(0,0,0,0.5);
	text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

#map-canvas {
	display: block;
	max-width: 100%;
	height: 100%;
}



.logo {
/* 	position: relative; */
	float: left;
	margin-left: 5em;
	margin-top: 1em;	
}

.meter {
	float: right;
	margin-right: 5em;
	margin-top: 2em;
	width: 30em;
	border-radius: 20px;
}

.meter:before {
	content: "How are we doing?";
	position: absolute;
	margin-top: -30px;
	
}


/* From CSS Tricks by Chris Coyier */
.meter { 
	height: 20px;  /* Can be anything */
	background: #555;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	padding: 10px;

}

.meter > span {
	display: block;
	height: 100%;
	width: 30%;
	   -webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	       -moz-border-radius-topright: 2px;
	    -moz-border-radius-bottomright: 2px;
	           border-top-right-radius: 2px;
	        border-bottom-right-radius: 2px;
	    -webkit-border-top-left-radius: 4px;
	 -webkit-border-bottom-left-radius: 4px;
	        -moz-border-radius-topleft: 4px;
	     -moz-border-radius-bottomleft: 4px;
	            border-top-left-radius: 4px;
	         border-bottom-left-radius: 4px;
	background-color: rgb(43,194,83);
	position: relative;
	overflow: hidden;
		-webkit-animation: meter-running 3s ease;
}


.meter > span:after {
	content: "30% of Goal";
	float: right;
	margin-right: .5em;
	height: auto;
	width: auto;
	-webkit-animation: show-goal 3s ease;
}

@-webkit-keyframes meter-running {
  0% { width: 0;}
  100% {width: 30%;}
}

@-webkit-keyframes show-goal {
	0% {opacity: 0;}
	95% {opacity: 0;}
	100% {opacity: 1;}
}



/* 

Animation for info div

*/




.info-div {
	clear: both;

	position: relative;
	height: 0;
	margin-left: -1em;
	padding: 0.3em 2em;
	margin-top: 4em;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	-webkit-animation: show-info 0.2s ease-in-out reverse;
	background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(230, 230, 230, 1) 48.5%, rgba(200,200,200,.01) 49.5%, rgba(255,255,255,1) 50.5%, rgba(250,250,250,.03) 51%, #fff 100%);
}

.info-div:hover {
	cursor: pointer;
}

.info-div-anim {
		height: auto;
		-webkit-animation: show-info 0.3s ease-in-out;
		display: block;
}

.no-show h2, .no-show p {
	opacity: 0;
}

@-webkit-keyframes show-info {
	0%{background: #ccc; border: 1px solid #ccc; height: 0px; -webkit-transform: rotateX(90deg);}
	100%{background: -webkit-linear-gradient(top, #eee 0%, #eee 49.5%, #fafafa 50%, #fafafa 51%, #fafafa 100%); height: 200px; border: 1px solid #ccc; -webkit-transform: rotateX(-20deg);}	
}


@media all and (max-width: 750px){
 
 .header {
	position: relative;
	max-width: 	100%;
	font-family: 'icomoon';
}

  .logo {
/* 	position: relative; */
	position: relative;
	margin: auto;
	width: 100%;
	text-align: center;
	margin-top: 1em;	
}

.meter {
	float: none;
	clear: both;
	position: relative;
	width: 80%;
	height: 20px;
	margin: auto;
	background: #555;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

}

